{% extends 'base.html' %}

{% block profile %}
	{% if request.user.is_authenticated %}
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Logo</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Inicio</a></li>

						<li><a href="{% url 'ugi.mia.views.mia_list' %}">MIA</a></li>
						<li><a href="#">CUSFT</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> {{usuario.username|upper}} </a></li>
						<li><a href='/logout_people'>Cerra sesión</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-globe"></span> Última visita {{usuario.last_login}}</a></li>
					</ul>
				</div>
			</div>
		</nav>
	{% endif %}
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/static/css/datepicker.css">

      <input  type="text" placeholder="fecha inicial"  id="filter1">
      <input  type="text" placeholder="fecha final"  id="filter2">
      <li><a id="filter_date" href="#">MIA</a></li>

			<div id="container" style="min-width: 600px; max-width: 1000px; height: 400px; margin: 0 auto"></div>

    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/filter_mia.js"></script>
{% endblock %}
