{% extends 'base.html' %}

{% block content %}
  <script src="/static/jspkg-archive/jquery.dynatable.js" type="text/javascript"></script>
  <link rel="stylesheet" src="/static/jspkg-archive/jquery.dynatable.ccs">

<!-- DATEPICKER CSS -->
  <link rel="stylesheet" href="/static/css/datepicker.css">

  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <input  type="text" placeholder="fecha inicial"  id="filter1">
      <input  type="text" placeholder="fecha final"  id="filter2">

      <input  type="text" placeholder="mes"  id="month">

       <a id="filter_date" href="#">Crear</a>
    </div>
    <div class="col-sm-10 text-left">
      <div class="container">
        <h1>Cifras Unidad de Gestión Comercial</h1>
      </div>
      <div id="container" style="min-width: 350px; height: 450px; margin: 0 auto"></div>
      <table id="example-table" class="table">
       <thead>
         <tr>
           <th>Area</th>
           <th>Categoria</th>
           <th>clave_documento</th>
           <th>folio</th>
         </tr>
       </thead>
     </table>
    </div>
  </div>
</div>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/filter_mia.js"></script>

{% endblock %}
