{% extends 'base.html' %}
{% block titulo %}Bienvenido{% endblock %}
{% block encabezado %}
{% endblock %}

{% block content %}
	<div class="container text-center">
	  <div class="row">
	    <div class="col-sm-3 well">
	      <div class="well">
					<span class="glyphicon glyphicon-user">
					<h4>{{usuario.first_name}}</h4>
					<h4>{{usuario.last_name}}</h4>
	      </div>
	      <div class="well">
	        <h5>Trámites</h5>
					<ul class="list-group">
					  <li class="list-group-item">
					    <span class="badge">{{ mia_total.count }}</span>
					  <a href="{% url 'ugi.mia.views.mia_list' %}">MIA</a></li>
					  </li>
					</ul>
	      </div>
	    </div>
	    <div class="col-sm-7">

	      <div class="row">
	        <div class="col-sm-12">
	          <div class="panel panel-default text-left">
	            <div class="panel-body">
								<div class="col-xs-6"><p contenteditable="false">EVALUADOR</p></div>
  							<div class="col-xs-6"><p contenteditable="false">TOTAL DE TRÁMITES</p></div>
	              </button>
	            </div>
	          </div>
	        </div>
	      </div>
				{% for key, value in evalua_to_dic.items %}
				<div class="row">
	        <div class="col-sm-3">
	          <div class="well">
	           <p> {{ key }} </p>
	          </div>
	        </div>
	        <div class="col-sm-9">
	          <div class="well">
							<button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">{{ value|length }}</button>
							<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							  <div class="modal-dialog modal-lg">
							    <div class="modal-content">
										<table class="table">
										  <thead class="thead-inverse">
										    <tr>
										      <!-- <th>#</th> -->
										      <th>Bitácora</th>
										      <th>Tipo de Trámite</th>
										      <th>Subsector</th>
													<th>Estaus</th>
										    </tr>
										  </thead>
										  <tbody>
												{% for i in value %}
												<tr>
													<!-- <th scope="row">#</th> -->
													<td><a href="{% url 'ugi.mia.views.mia_detail' pk=i.pk %}">{{ i.bitacora }}</a></td>
													<td>{{ i.tipo_tramite }}</td>
													<td>{{ i.subsector }}</td>
													<td>{{ i.estatus }}</td>
												</tr>
												{% endfor %}
										  </tbody>
										</table>
							    </div>
							  </div>
							</div>

	          </div>
	        </div>
	      </div>
				{% endfor %}
	    </div>
	    <div class="col-sm-2 well">
	      <div class="thumbnail">
	        <p>add</p>
	      </div>
	      <div class="well">
	        <p>add</p>
	      </div>
	      <div class="well">
	        <p>add</p>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}
